.header-main {
}

.header-sticky {
  // TODO: Implement for mobile
  @include media-breakpoint-up(md) {
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    position: sticky;
    background-color: $primary-bg-color;
    z-index: 2000;
    top: 0;
  }
}

.header-nav {
  padding: 2rem 0 2.3rem;

  .logo-link {
    @include media-breakpoint-down(md) {
      margin-bottom: 2rem;
    }
  }

  .logo-text {
    margin-bottom: 0;
    font-family: 'ExistenceLight', sans-serif;
  }

  .sections-nav {
    list-style: none;
    margin: 0;
    padding: 0;

    .nav-item {
      text-align: center;
      @include media-breakpoint-down(sm) {
        margin-bottom: 1em;
      }
      @include media-breakpoint-only(xs) {
        width: 100%;
      }
    }
    .nav-link {
      font-family: 'LatoLight', sans-serif;
      text-transform: uppercase;
      font-size: 1em;
      @extend .link-default;
    }
  }
}
