.text-dark {
  color: $text-dark-color;
}
.text-light,
.text-light:active {
  color: $text-light-color;
}
.text-semi-dark {
  color: $text-semi-dark-color;
}
.text-semi-light {
  color: $text-semi-light-color;
}
.text-colored {
  color: $primary-color;
}

%capitalize-all {
  *:first-letter {
    text-transform: capitalize;
  }
}
.capitalized {
  &:first-letter {
    text-transform: capitalize;
  }
}

.hidden {
  display: none;
}

.fixed {
  position: fixed;
}
