%link-common {
  a,
  & *,
  &:link,
  &:active,
  &:visited,
  &:hover {
    outline: none;
    text-decoration: none;
  }
}

.link {
  color: currentcolor;
  a,
  & *,
  &:link,
  &:active,
  &:visited,
  &:hover {
    color: currentcolor;
  }
  @extend %link-common;
}

.link-default {
  color: $text-dark-color;
  a,
  & *,
  &:link,
  &:visited {
    color: $text-dark-color;
  }
  &:active,
  &:hover {
    color: $primary-color;
  }
  @extend %link-common;
}
