$primary-color:                #9f449b;
$secondary-color:              #d1d5d7;

$text-semi-light-color:        #777777;
$text-semi-dark-color:         #676767;
$text-dark-color:              #222222;
$text-light-color:             #FFFFFF;

$primary-bg-color:             #FFFFFF;
$secondary-bg-color:           #EEEEEE;
$jumbotron-main-bg-color:      #433660;






// Jumbotron bg palette
// #989F9B, #949799,
// #433660, #392C4F,
// #31284F, #31284E,
// #2F284C, #2F2749
